
@using Model.EF;
@model List<Product>
@{
    ViewBag.Title = "HomeAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<a class="btn btn-primary" href="@Url.Action("Create","HomeAdmin")">Create new product</a>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title " style="font-weight:600">DANH SÁCH SẢN PHẨM</h4>
                <p class="card-category">E-shopper</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>ID</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Thương hiệu</th>
                            <th>Danh mục</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </thead>
                        <tbody id="tblProducts">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="pagination" class="col-md-12 pagination">

    </div>
</div>
