@using Economy.Common;
@model UserLogin

@{
    var _user = ViewBag.Session as UserLogin;
}


@if (_user != null)
{
    <li><a href="@Url.Action("Register","RegisterAndLogin")"><i class="fa fa-user"></i>@_user.UserName</a></li>
}
else
{
    <li><a href="@Url.Action("Register","RegisterAndLogin")"><i class="fa fa-user"></i>Account</a></li>
}
