@using Economy.Common;
@model UserLogin

@{
    var _user = ViewBag.Session as UserLogin;
}


@if (_user != null)
{

    <li><a><i class="fa fa-user"></i>@_user.UserName</a></li>
}
else
{
    <li><a href="@Url.Action("Login","RegisterAndLogin")"><i class="fa fa-user"></i>Đăng nhập</a></li>
}
