@using Economy.Common.Admin;
@model AdminLogin

@{
    var _adminName = ViewBag.Session as AdminLogin;
}

@if (_adminName != null)
{
    <div class="logo">
        <a href="@Url.Action("HomeAdmin","HomeAdmin")" class="simple-text logo-normal">
            <span style="font-weight:600">@_adminName.AdminName</span>
        </a>
    </div>
}
else
{
    <div class="logo">
        <a class="simple-text logo-normal">
            <span style="font-weight:600">Admin</span>
        </a>
    </div>
}
