<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Sign Up Form by Colorlib</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Assets/RegisterAndLogin/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Assets/RegisterAndLogin/css/style.css">
</head>
<body>

    <div class="main">
        @RenderBody()
    </div>

    <!-- JS -->
    <script src="~/Assets/RegisterAndLogin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/Register.js"></script>
    <script src="~/Assets/RegisterAndLogin/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>